@import '/src/vars.scss';

.result-wrapper {
  display: flex;
  margin-top: 100px;
}

.filtration-component-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-width: 370px;
  height: 100%;
  border: 1px solid $blue-primary-active;
  border-radius: 5px;
  padding: 20px 15px;
  box-shadow: $shadow;
}

.filtration-component-item {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.filtration-preventive-measure-item {
  display: flex;
  flex-direction: column;
}

.filtration-preventive-title {
  display: flex;
  justify-content: space-between;
}

.apilation-title {
  display: flex;
  justify-content: space-between;
}

.view-content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-left: 30px;
  width: 100%;
}

.result-content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 30px;
  align-items: center;
  justify-content: center;
  border: 1px solid $blue-primary-active;
  border-radius: 5px;
  box-shadow: $shadow;
}

.result-info {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 30px;
}

.result-info-item {
  display: flex;
  flex-direction: column;
  border: 1px solid $blue-primary-active;
  border-radius: 5px;
  padding: 10px;
  gap: 10px;
  width: calc(50% - 20px);
  flex-wrap: wrap;

  &-text {
    display: flex;
    gap: 5px;
    color: $blue-primary-secondary;

    span {
      color: $black-primary;
      display: flex;
      align-items: end;
    }
  }
}

.result-states-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.state-content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px;
  align-items: start;
  justify-content: center;
  border: 1px solid $blue-primary-active;
  border-radius: 5px;
  box-shadow: $shadow;
}

.state-content-item {
  span {
    font-weight: 700;
  }
}

.select-dates {
  display: flex;
  flex-direction: column;
  gap: 5px;

  &-content {
    display: flex;
    gap: 5px;
    justify-content: space-between;
    align-items: start;
  }

  .select-dates-calendar {
    display: flex;
    gap: 5px;
  }
}

.filtration-punishment-type-item {
  display: flex;
  justify-content: space-between;
}

.calculator-container-select-dates-buttons {
  display: flex;
  gap: 5px;
}

@media screen and (max-width: 1050px) {
  .filtration-component-wrapper {
    min-width: 310px;
  }
}

@media screen and (max-width: 850px) {
  .result-wrapper {
    flex-direction: column;
    margin-top: 60px;
    gap: 30px;
  }

  .filtration-component-wrapper {
    width: 100%;
  }

  .view-content-wrapper {
    margin-left: 0;
  }

  .result-info-item {
    width: 100%;
  }
}

@media screen and (max-width: 700px) {
  .result-wrapper {
    margin-top: 30px;
  }
}