:root {
    --green: #223E07;
    --light_green: #699F35;
    --gradient: linear-gradient(to bottom,rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    --dark_green: #477b14;
    --grey: #454545;
    --slider_arrows_color: #000;
}