@import "src/vars.scss";

.nav-link {
    display: flex;
    padding: 10px 30px;
    &-active {
        background-color: $blue-primary-active;
        p {
            color: $text-black;
        }
    }
}

.nav-link:not(.nav-link-active):hover {
    background-color: $blue-primary-active;
}