@import '../../../vars.scss';

.input-container-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;
}
.input-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: left;
    font-size: 16px;

    .input-container-label {
        cursor: pointer;
    }


    .input-container-field-message {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        padding: 10px;
        text-align: center;
    }
    &-title {
        display: flex;
        position: relative;
        justify-content: space-between;
    }

    @keyframes pulse {
        0% { transform: scale(1); }
        50% { transform: scale(1.2); }
        100% { transform: scale(1); }
      }

    .question-icon-pulse {
        animation: pulse 2s infinite;
    }
}
