.menu-item-wrapper {
  cursor: pointer;
  box-sizing: border-box;
}
.menu-item {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 15px;
    align-items: center;
    gap: 20px;
    &-title {
        display: flex;
        gap: 15px;
    }
}

