@import 'src/vars.scss';

.menu-item-wrapper {
  cursor: pointer;
  box-sizing: border-box;
  width: 100%;
}
.menu-item {
    display: flex;
    justify-content: end;
    width: 100%;
    align-items: center;
    gap: 20px;
    &-title {
        display: flex;
        gap: 15px;
        width: 100%;
    }
}

