@import 'src/vars.scss';

.calculator-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px 0 120px;

  gap: 30px;

  width: 100%;

  background-color: $blue-primary-active;
  border-radius: 3px;

  position: relative;
}

.calculator-container {
  display: flex;
  gap: 20px;
  position: absolute;
  bottom: -90px;
  background-color: $background;
  border-radius: 3px;
  box-shadow: $shadow;
  padding: 15px 40px;

  &-item {
    display: flex;
    flex-direction: column;
    gap: 11px;
  }

  &-sentence {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 5px;
    // gap: 20px;
  }
  &-sentence > *:last-child {
    margin-right: 0;
  }

  &-article-value {
    display: flex;
    gap: 20px;
    padding-top: 6px;
    align-items: center;

    &-buttons {
      display: flex;
      align-items: end;
      height: 100%;
      gap: 10px;
    }

  }

  .calculator-article-value {
    max-height: 155px;
    overflow: hidden;
    overflow-y: scroll;
    padding-right: 5px;
  }

  &-add-button {
    display: flex;
    cursor: pointer;
    width: 24px;
    height: 24px;
  }

  &-buttons {
    display: flex;
    padding-top: 20px;
    align-items: center;
    height: 100%;
    gap: 20px;
  }
}

