@import 'src/vars.scss';

.icon-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: inherit;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.75px;
    color: $text-white;
    background-color: transparent;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;
    gap: 10px;
    height: 40px;
}

.button-primary {
    background-color: $blue-primary-active;
}

.button-secondary {
    border: 1px solid $background;
}

.button-disabled {
    color: $button-disabled;
    background: $grey-container-disabled;
    cursor: default;
}