@import '../../vars';

.footer {
  margin-top: auto;
  height: 90px;

  background-color: #a3a2a2;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  line-height: 90px;
}

.copyright {
  display: flex;
  font-size: 16px;
}

.copyright__symvol {
  font-size: 15px;
}

.footer__contacts {
  font-family: 'Exo 2', sans-serif;
  font-size: 17px;
  font-weight: 600;
  line-height: 90px;
  font-style: normal;
  margin: 0 auto;

  display: flex;
}

.footer__contacts__tel {
  /* font-size: 14px; */
  padding-left: 30px;
}

.footer__contacts a {
  padding: 0 30px;

  text-decoration: none;

  color: #000;

  transition: underline 0.1s linear;
}

.footer__contacts a:hover {
  text-decoration: underline;
}

.media__link {
  padding-right: 30px;
}

.media__link:last-child {
  padding-right: 0;
}
