@import 'src/vars.scss';

.container {
  max-width: 1230px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.content-wrapper {
  min-height: calc(100vh - 180px);
}

.content-wrapper-none {
  display: none;
}

.content {
  width: 100%;
  height: 100%;
  background-color: $background;
}