@import "./colors";

footer {
  position: relative;
}

.footer__line {
  border: 1px solid var(--lightgray);
  width: 100%;
}

.footer {
  display: flex;
  flex-direction: column;

  padding: 1rem 2rem;
  gap: 4rem;
  height: 20rem;

  align-items: center;
  justify-content: center;
}

.footer__social {
  display: flex;
  gap: 4rem;
}

.footer__social img {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

.footer--blur-first,
.footer--blur-second {
  bottom: 0;
  width: 26rem;
  height: 12rem;
  filter: blur(200px);
}

.footer--blur-first{
  right: 15%;
  background: red;

}

.footer--blur-second {
left: 15%;
background: rgb(255, 155, 0);
}