// Colors
$black-primary: #171821;
$background: #fff;
// $black-table-content: #292b37;
// $black-secondary: #1b1b1c;
// $black-divider: #202022;

// $blue-primary-hover: #0C64C5;
$blue-primary-active: #0C64C5;
$blue-primary-secondary: #5d81d2;

$grey-container-background: #404752;
$grey-container-disabled: #EAEAEA;
$button-disabled: #B0B0B0;

$grey-primary: #262629;
$grey-hovered: #2d2d30;
$grey-pressed: #333337;

// Status
$success: #1ED694;
$warning: #FFCD05;
$error: #FF3E3E;
$info: #00A3FF;

$text-white: #fff;
$text-secondary: #EAEAEA;
$text-black: #000;

// Shadow
$shadow: 0 2px 21px -3px rgba(0, 0, 0, 0.2);

// Z-index
$z-index-back: -1;
$z-index-default: 1;
$z-index-low: 2;
$z-index-medium: 3;
$z-index-high: 4;
$z-index-alert: 5;

// =======================================
