// Colors
$black-primary: #171821;
$black-background: #23242c;
$black-table-content: #292b37;
$black-secondary: #1b1b1c;
$black-divider: #202022;

$blue-primary-hover: #173945;
$blue-primary-active: #16bfd6;

$grey-container-background: #404752;
$grey-container-disabled: #67686d;
$grey-modal-content: #2e303e;

$grey-primary: #262629;
$grey-hovered: #2d2d30;
$grey-pressed: #333337;

$success: #1ed694;
$warning: #ffcd05;
$error: #ff3e3e;
$info: #00a3ff;

$text-primary: #fafafa;
$text-secondary: #adadb7;
// Dark colors

$color-dark-black-3: #1e1e1e;
$color-dark-black-4: #222323;
$color-dark-black-5: #171717;
$color-dark-black-6: #1b1a1a;
$color-dark-black-7: #2a2a2a;
$color-dark-black-8: #212325;
$color-dark-black-9: #272c2c;
$color-dark-black-10: #33383a;
$color-dark-black-11: #3b4147;

$z-index-back: -1;
$z-index-default: 1;
$z-index-low: 2;
$z-index-medium: 3;
$z-index-high: 4;
$z-index-alert: 5;

// =======================================
