:root {
  // Border
  --border-sm: 1px;
  --border-md: 2px;
  --border-lg: 3px;
  --border-xl: 4px;
  --border-2xl: 5px;
  --border-3xl: 6px;
  --border-4xl: 7px;
  --border-5xl: 8px;

  // Border-radius
  --border-radius-xs: 6px;
  --border-radius-sm: 8px;
  --border-radius-md: 10px;
  --border-radius-lg: 16px;
  --border-radius-xl: 24px;
}
