:root {
  // Base colors
  --white-primary: #ffffff;

  // Red
  --red-primary: #f63c6b;
  --red-80: rgb(246 60 107 / 90%);
  --red-55: rgb(246 60 107 / 70%);
  --red-40: rgb(246 60 107 / 50%);
  --red-10: rgb(246 60 107 / 10%);

  // Green
  --green-primary: #0fedbe;
  --green-80: rgb(15 237 190 / 80%);
  --green-55: rgb(15 237 190 / 55%);
  --green-40: rgb(15 237 190 / 40%);

  // Blue
  --blue-brand: #00bddd;
  --blue-brand-25: rgb(45 202 255 / 25%);
  --blue-brand-8: rgb(45 202 255 / 8%);

  // Purple
  --purple-primary: #8085ff;

  // Yellow
  --yellow-primary: #ffaa2b;

  // Pink
  --pink-primary: #f044ff;

  // Neutral
  --neutral-900: #050505;
  --neutral-800: #0a0a0a;
  --neutral-700: #191919;
  --neutral-600: #1f1f1f;
  --neutral-500: #595959;
  --neutral-400: #999999;
}
