@import 'src/vars.scss';

header {
  background-color: $blue-primary-active;
}
.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

.nav-links {
  display: flex;
  gap: 30px;
}

.nav-links .active {
  font-family: 'Montserrat Bold', sans-serif;
}

.header-buttons {
  display: flex;
  gap: 20px;
}