* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent;
}

button {
  outline: none;
  border: none;
  background: none;
  color: inherit;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}